body {
  color: white;
  background-color: black;
}

.app {
  background-color: gray;
  margin-top: 20px;
  margin-bottom: 20px;
  height: calc(100vh - 40px);
  display: flex;
  flex-direction: row;

  .cities {
    width: 30%;
    overflow: scroll;
  }

  .active-city {
    width: 70%;
    margin-left: 20px;
    margin-bottom: 20px;
    padding: 10px 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    h3 {
      margin-top: 0;
    }
  }
}



.list-group-item {
  background-color: transparent;
  cursor: pointer;
}
